.button {
	padding: 15px 30px;
	border: 0;
	border-radius: 8px;
	cursor: pointer;
	font-size: 26px;
	color: white;
	font-weight: 300;
	font-family: "Roboto", sans-serif;

	&[disabled] {
		cursor: not-allowed;
		background-color: map-get($colors, 04);
	}
}

.button--01 {
	background-color: map-get($colors, 01);
}

.button--02 {
	background-color: map-get($colors, 02);	
}

.button--03 {
	border: 1px solid map-get($colors, 03);
	color: map-get($colors, 03);
	background-color: white;	
}